// vars tipografias
$fuente-titulo: 'Raleway', sans-serif;
$titulo-bold: 800;
$fuente-parrafo: 'Open Sans', sans-serif;
$number-bold: 700;

// vars colores
$color-titulo-header: #fff;
$color-titulo-header-darken: darken($color-titulo-header,5%);
$color-text: #142C3F;
$color-text-darken: darken($color-text,20%);
$color-parrafo: gray;
$color-boton-iconos: #00ADF2;
$color-pre-footer: #142E3F;
$color-footer: #091722;
$esfera-uno: #00D7FE;
$esfera-dos: #FED501;
$esfera-tres: #FE9455;
$esfera-cuatro: #FF5F3D;
$color-orange: #E16822;
$color-bordo: #B6231B;
$color-red: #D71309;
